.square {
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

.square-board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 320px

}

.title {
  text-align: center;
}

.winnertitle {
  text-align: center;
}